@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;    font-style: normal;
}
body {
    background-image: url(../imgs/bg-full.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255);
    gap: 16px;
}
.ping-loader {
    width: 160px;
}
main {
    padding: 32px 0;
}
/* HEADER */
h1 {
    color: #00AEEF;
}
header nav {
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #fff;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
}
header nav ul {
    display: flex;
    list-style: none;
}
.page-ranking {
    margin-top: 80px;
}
/* Dinâmica do ranking */
.ranking-ctn {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 16px;
    width: 100%;
}
/* Podium */
.podium {
    height: 540px;
    overflow: hidden;
    position: relative;
    gap: 16px;
    border-bottom: 4px solid rgb(95, 95, 95);
    width: 100%;
    overflow: visible;
}
#podium {
    height: fit-content;
    display: flex;
    justify-content: center;
}
#podium:nth-of-type(1),
.bar:nth-of-type(1) {
    order: 2;
}
#podium:nth-of-type(2),
.bar:nth-of-type(2) {
    order: 1;
}
#podium:nth-of-type(3),
.bar:nth-of-type(3) {
    order: 3;
}
.nomeJogador {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    margin: 8px 0;
    display: block;
    border-radius: 8px;
}
.vitorias {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 16px;
    border-radius: 8px;
    margin: 8px 0;
}

@keyframes podium {
    from {
        transform: translateY(2px);
    }
    to {
        transform: translateY(0px);
    }
}
.bar {
    width: 100%;
    height: 216px;
    position: absolute;
    background-color: rgb(95, 95, 95);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px 16px 0 0;
}
#podium:nth-of-type(1) .bar .number {
    top: 60%;
}
.number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    z-index: 2;
}
.marker {
    width: 24px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#podium:nth-of-type(1) .bar .marker {
    top: 60%;
    left: 40%;
}
#podium:nth-of-type(2) .bar .marker {
    top: 50%;
    left: 40%;
}
#podium:nth-of-type(3) .bar .marker {
    top: 50%;
    left: 40%;
}
.marker-ctn {
    position: relative;
}
.marker-ctn img {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
}
.fire-1 {
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 240px;
}
.fire-2 {
    position: absolute;
    bottom: 85%;
    left: 49%;
    transform: translate(-50%, 50%);
    width: 180px;
}
.fire-3 {
    position: absolute;
    bottom: 90%;
    left: 49%;
    transform: translate(-50%, 50%);
    width: 140px;
}
#lottie {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 16px;
    animation: podium 0.5s infinite alternate;
}
.skeleton {
    width: 100%;
    display: none;
}
#podium:nth-of-type(1) #lottie {
    animation: none;
}
#podium:nth-of-type(2) {
    margin-top: 120px;
}
#podium:nth-of-type(3) {
    margin-top: 180px;
}
#podium:nth-of-type(2) .bar {
    height: 140px;
}
#podium:nth-of-type(3) .bar {
    height: 80px;
}
.lottie {
    width: 160px;
}
.lottie-two,
.lottie-three {
    width: 120px;
}
.festa {
    position: absolute;
    top: -48px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    right: 16px;
    animation: lottie 1s infinite alternate;
}
.avatar img {
    width: 100%;
}
#podium:first-of-type .avatar {
    top: 96px;
}
@keyframes lottie {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* Scoreboard */
.scoreboard {
    width: 100%;
}
.scoreboard .score:last-of-type {
    border-radius: 0 0 16px 16px;
}
.tittle {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4px;
    border-bottom: 4px solid rgb(128, 128, 128, 0.6);
    margin-bottom: 16px;
    margin-top: 40px;
}
.tittle h4 {
    text-align: center;
}
.tittle h4:nth-of-type(2) {
    text-align: left;
    width: 132px;
}
.score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}
.score:hover {
    z-index: 2;
}
.score .ctn-img {
    position: relative;
    text-align: start;
    width: 132px;
    transform: translateX(16px);
    z-index: 1;
}
.mini-skeleton {
    width: 64px;
    display: none;
}
.score .card-info,
#lottie .card-info {
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    left: 32px;
    height: 112px;
    width: max-content;
    background-color: rgba(0, 0, 0);
    display: none;
    border-radius: 8px;
    overflow: hidden;
    z-index: 2;
}
#lottie .card-info {
    right: -136px;
    z-index: 2;
}
.card-info .info {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 6px;
}
.card-info .title {
    color: rgb(255, 255, 168);
    text-transform: uppercase;
    border-bottom: 2px solid rgb(255, 255, 168);
}
.score .ctn-img .card-info .avatar,
#lottie .card-info .avatar {
    position: unset !important;
    width: unset;
    height: 100%;
    overflow: hidden;
    border-radius: unset;
    position: absolute;
    top: unset;
    right: unset;
    left: unset;
    transform: unset;
    animation: none;
}
.score .ctn-img:hover .card-info,
#lottie:hover .card-info {
    display: flex;
}
.score h4 {
    text-align: center;
}
.score .ctn-img .avatar {
    position: absolute;
    left: -48px;
    top: 50%;
    transform: translateY(-50%);
    right: unset;
    width: 32px;
    height: 32px;
    animation: none;
}

.ranking-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader-ctn {
    height: 15px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(farthest-side,#ffffff 90%,#0000);
    background: 
      var(--_g) left, 
      var(--_g) right;
    background-size: 25% 100%;
    display: grid;
  }
  .loader-ctn:before,
  .loader-ctn:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin: -100% 50%;
    background: #ffffff;
    animation: l49 1s infinite linear;
  }
  .loader-ctn:after {
    transform-origin: 200% 50%;
    --s:-1;
    animation-delay: -.5s;
  }
.btn-menu {
    padding: 8px 16px;
    color: #777777;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    background-size: 0%;
}
.btn-menu:hover {
    background: linear-gradient(345deg, rgb(230, 230, 230) 0%, rgba(0,0,0,0) 100%);
}.active {
    border-bottom: 2px solid #00AEEF;
    color: #00AEEF;
}
.fire-1-mobile,
.fire-2-mobile,
.fire-3-mobile {
    position: absolute;
    bottom: 10px;
    left: -16px;
    width: 80px;
}
.fire-1-mobile {
    width: 120px;
    bottom: 6px;
    left: -36px;
}
.fire-2-mobile {
    width: 100px;
    bottom: 8px;
    left: -24px;
}
.mobile-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}


  @keyframes l49 {
    58%,
    100% {transform: rotate(calc(var(--s,1)*1turn))}
  }
@media (max-width: 1024px) {
    body {
        background-image: unset;
        background-color: gray;
    }
    main {
        padding: 0 16px;
        margin-bottom: 32px;
    }
    .page-ranking {
        margin-top: 120px;
    }
    .ranking-ctn {
        padding: 16px;
    }
    .mobile-note p {
        color: white;
        text-transform: uppercase;
    }
    .podium {
        flex-wrap: wrap !important;
        margin-top: 4px !important;
    }
    #podium {
        display: block;
    }
    #podium:nth-of-type(1) #lottie {
        animation: none;
    }
    #podium:nth-of-type(2) {
        margin-top: unset;
    }
    #podium:nth-of-type(3) {
        margin-top: unset;
    }
    #podium:nth-of-type(2) .bar {
        height: unset;
    }
    #podium:nth-of-type(3) .bar {
        height: unset;
    }
    #podium #lottie {
        animation: none;
    }
    #lottie {
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .bar {
        height: unset;
        display: none;
    }

    #podium:nth-of-type(1),
    .bar:nth-of-type(1) {
        order: unset;
    }
    #podium:nth-of-type(2),
    .bar:nth-of-type(2) {
        order: unset;
    }
    #podium:nth-of-type(3),
    .bar:nth-of-type(3) {
        order: unset;
    }
    .avatar {
        width: 40px;
        height: 40px;
        position: absolute;
        top: unset;
        right: unset;
        bottom: 24px;
        left: 36%;
    }
    #podium:first-of-type .avatar {
        top: unset;
    }
    .tittle h4:nth-of-type(2) {
        width: unset;
    }
    .score .ctn-img {
        position: relative;
        text-align: start;
        width: 132px;
        transform: translateX(40px);
    }
    .marker-ctn img {
        position: absolute;
        left: -24px;
        top: 50%;
        transform: translate(0, -50%);
    }
    .player-position {
        bottom: 8px;
        left: 16px;
    }
    .player-position span {
        font-size: 32px;
        animation: shake 0.3s linear alternate infinite;
    }
    .lottie {
        max-width: 120px;
    }
    .lottie-one {
        transform: scale(1.15);
    }
    .identificador {
        width: 140px;
    }

    @keyframes shake {
        from {
            transform: rotate(-3deg);
        }
        to {
            transform: rotate(3deg);
        }
    }
    .loader-ctn {
      --_g: no-repeat radial-gradient(farthest-side,#ffffff 90%,#0000);
    }
    .loader-ctn:before,
    .loader-ctn:after {
      background: #ffffff;
    }
    .score .ctn-img:hover .card-info,
    #lottie:hover .card-info {
        display: none;
    }
    .ranking-btns {
        justify-content: center;
    }
    .score h4:first-of-type {
        width: 40px;
    }
    .festa {
        top: 0px;
    }
    .mobile-dropdown {
        position: absolute;
        z-index: 2;
        top: 108px;
        left: 0;
        width: 100%;
        height: auto;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 16px 0;
        align-items: start;
        padding-left: 24px;
    }
    .inactive-dropdown {
        opacity: 0;
        transform: translateY(-100px);
        transition: .4s;
        z-index: -1;
    }
    .active-dropdown {
        opacity: 1;
        transform: translateY(0px);
        transition: .4s ease-in-out;
        z-index: 2;
    }
    .mobile-dropdown li {
        width: 50%;
        text-align: start;
        padding: 16px;
        color: #5a5a5a;
    }
    .btn-menu {
        border-radius: unset;
        padding: unset;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid #adadad;
        border-right: unset;
        background-size: 0%;
    }
    .btn-menu:hover {
        background: unset
    }.active {
        border-bottom: 1px solid #adadad;
        border-right: unset;
        border-radius: unset;
        color: unset;
    }
    .activeFeminino {
        border-bottom: 1px solid #adadad;
        border-right: unset;
        border-radius: unset;
        color: unset;
    }
    .activeMasculino {
        border-bottom: 1px solid #adadad;
        border-right: unset;
        border-radius: unset;
        color: unset;
    }
    .mobile-dropdown li {
        padding: unset;
        margin-bottom: 16px;
    }
    .mobile-dropdown li:last-of-type {
        padding: unset;
        margin-bottom: 0;
    }
    #toggle-btn {
        width: 64px;
    }
      
}

@media (max-width: 374px) {
    .ranking-ctn {
        padding: 8px;
    }
}

